#leafoverley .naver{
    position:absolute;
    display: block;
    height: 30px;
    width: 90px;
    background-color:#fff;
    right:0;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: $header;
    text-transform: uppercase;
    font-size: 12px;
    padding: 4px 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    cursor:pointer;
  }

